#form {
    // position: fixed;
    bottom: 0;
    width: 98%;
    margin-left: 1%;
    // height: 6%;
    background-color: #303030;
    // border: 0.3px solid rgb(102, 100, 100);
    // box-shadow: -4px 3px 20px 0px black;
    // border-bottom: 0;
}

form {
    clear: both;
    position: sticky;
    padding: 0;
    bottom: 0;
    // position: fixed;
    // bottom: 0;
    margin: 0;
    width: 100%;
    // margin-top: 30px;
}

mat-card {
    padding-bottom: 0;
    background-color: #fafafa;
}

mat-toolbar {
    position: fixed;
    z-index: 10;
    top: 0;
    margin: 0;
    width: 100%;
    color: white;
}

@media only screen and (max-width: 768px) {
    mat-card {
        font-size: smaller;
        // padding: 11%;
        line-height: 1.2em;
        padding-top: 0;
    }
    form {
        // position: fixed;
        bottom: 0;
        margin: 0;
    }
    .example-form {
        max-height: 0.01%;
    }
    mat-toolbar {
        font-size: medium;
    }
}