<mat-toolbar style="background-color: #3e51b5;">
    <span>Discutons mon beau garçon</span>
</mat-toolbar>

<div class="messages" style="margin-top: 68px;">
    <app-message></app-message>
</div>


<!-- <div id="form">
    
</div> -->

<form class="example-form">
    <mat-card>
        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Ecrit wsh</mat-label>
            <input style="color: black;" matInput placeholder="" autocomplete="off">
            <button style="display: none;" mat-stroked-button type="submit" (click)="$event.preventDefault()">Ça part</button>
        </mat-form-field>
    </mat-card>
</form>

<!-- <mat-form-field appearance="outline">
    <mat-label>Outline form field</mat-label>
    <input matInput placeholder="Placeholder">
</mat-form-field> -->