form {
    position: absolute;
    bottom: 40%;
    left: 30%;
    width: 30%;
    color: black;
}

button {
    display: none;
}

@media only screen and (max-width: 768px) {
    mat-toolbar {
        font-size: medium;
    }
}