* {
    color: rgb(231, 231, 231);
}

mat-card {
    // width: 100%;
    font-size: medium;
    // margin-top: 4%;
    background-color: #565858;
    margin-bottom: 4px;
}

.innerMessageDiv,
mat-card {
    // word-break: break-all;
}

.me {
    border-radius: 5%;
    // margin-left: 75%;
    // width: 20%;
    background-color: #fafafa;
    color: black;
    max-width: 70%;
    float: right;
    clear: both;
    margin-right: 10px;
}

.others {
    // margin-left: 2%;
    // width: 20%;
    background-color: #fafafa;
    max-width: 70%;
    float: left;
    clear: both;
    margin-left: 10px;
}

@media only screen and (max-width: 768px) {
    mat-card {
        font-size: 1em;
        // padding: 9%;
        line-height: 1.2em;
        // width: 280%;
        // margin-bottom: 9%;
        margin-bottom: 4px;
        padding: 10px;
    }
    .me {
        // margin-left: 34%;
        float: right;
        clear: both;
        margin-right: 14px;
    }
    .others {
        float: left;
        // clear: left;
        clear: both;
        margin-left: 14px;
    }
    #useless {
        height: 100px;
    }
}