<!-- Set style to me -->
<div *ngIf="isLogged(0) && sizeIsOne()">
    <div class="me" style="width: fit-content;">
        <mat-card style="width: fit-content;" *ngIf="sizeIsOne()">
            {{ getMessage(0) }}
        </mat-card>
    </div>
</div>

<!-- Set style to others -->

<div *ngIf="!isLogged(0) && sizeIsOne()">
    <div class="others" style="width: fit-content;">
        <mat-card style="width: fit-content; background-color: #23566f;" *ngIf="sizeIsOne()">
            {{ getMessage(0) }}
        </mat-card>
    </div>
</div>


<!-- --------------- Size more than 1 ---------------- -->





<div *ngIf="!sizeIsOne()">
    <div *ngFor="let element of messages; let i=index">
        <div *ngIf="isLogged(i)">
            <div class="me" style="width: fit-content;">
                <mat-card style="width: fit-content; background-color: #3e51b5;">
                    <!-- <div class="innerMessageDiv" style="width: fit-content;"></div> -->
                    {{ getMessage(i) }}
                </mat-card>
            </div>
        </div>
        <div *ngIf="!isLogged(i)">
            <div style="width: fit-content;" class="others">
                <mat-card style="width: fit-content; background-color: #f7f7f7; color: rgba(0, 0, 0, 0.87);">
                    {{ getMessage(i) }}
                </mat-card>
            </div>
        </div>
    </div>
</div>

<div class="useless"></div>