html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #fafafa;
}

button[type=submit] {
    position: absolute;
    bottom: 0;
    right: 0;
}

.example-form {
    min-width: 150px;
    max-width: 100%;
    width: 90%;
    position: absolute;
    bottom: 3%;
    color: white;
    margin-left: 2%;
}

.example-full-width {
    width: 100%;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}